extends layout

block content

  h1= title
  h2 #{total} Total Orders ($#{grandTotal}):
  p #{numPaid}  ($#{paidTotal}) paid
  p #{numOpen} ($#{openTotal}) open
  p #{numFailed} ($#{failedTotal}) failed to charge
  p #{numCancelled} ($#{cancelledTotal}) cancelled
